html, body {  
    margin:0px;  
    height:100%;  
   

  } 



  #container{
  
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 143, 143);
    opacity: 98%;
  
    z-index: 0;
    
  }

 

  #login{
    background-color: black;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10%;
  

    height: 70%;
    width: 25%;
    z-index: 0;
    opacity: 30%;
    

  }


  #foto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 30%;
    height: 30%;
    position: absolute;
    top:0;
    z-index: 1;
    margin-top: 10%;
   
  }

  #foto img{
    width: 50%;
    height: 90%;
  }

  #formulario{
    padding: 2%;
    position: absolute;
    width: 20%;
    height: 30%;
    margin-top: 9%;
   
    z-index: 1;
       
  }

  #botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    flex-direction: row;
    width: 20%;
    margin-top: 27%;
    height: 10%;
  
  }
form div input{
    height: 60%;
  }

  #enviar{
    background-color: rgb(167, 158, 158);
    width: 30%;
    height: 60%;
  }

  #recordar{
    background-color: rgb(194, 28, 28);
    width: 50%;
    height: 60%;
  }


  