@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,regular,500,700,900);
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  height: 100vh;
  background-color: lightslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*///////////////////////////////CABECERA//////////////////////////*/

#cabecera {
  width: 100%;
  height: 15%;
  background-color: #ac0a0a;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  z-index: 1;
}

#nombre {
  display: flex;
  justify-content: center;
  width: 88%;
  color: white;
  margin-right: 15%;
  font-size: 140%;
  transition: 0.5s;
}

#perfil {
  display: flex;
  width: 12%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  margin-right: 3.5%;
  transition: 0.5s;

}

#perfil img {
  width: 70%;
  height: 90%;
  transition: 4s;
}

/*////////////////////////MENU//////////////////////////////*/
.side-menu {
  width: 20.5rem;
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  background-color: #9f9e9e;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  left: -21rem;
  z-index: 1;


  transition: 0.5s;
}

.side-menu:hover {
  background: #807e7e;
}

#menuflex {
  top: 0;
  z-index: 3;

  width: 100%;
  position: absolute;
  display: flex;
  height: 45%;
}
#menuflex ul {
  display: flex;
  width: 100%;
  z-index: 5;

  flex-direction: column;
}

#menuflex ul li {
  display: flex;
  height: 100%;
  align-items: center;
}

#menuflex a {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;

  width: 100%;
  height: 100%;
}

#menuflex ul li:hover {
  background-color: #ac0a0a;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
#primera-etiqueta {
  top: 0;
  margin-top: 1.8rem;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(116, 153, 51);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
  
}

/*ORDENADOR CASA*/
#segunda-etiqueta {
  top: 0;
  margin-top: 1.8rem;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: #369;
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}
#tercera-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(51, 153, 83);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#cuarta-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(217, 22, 162);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#quinta-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(22, 171, 217);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#sexta-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(33, 34, 35);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#septima-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(100, 103, 106);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}
#octava-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(236, 133, 231);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#novena-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(193, 224, 19);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#decima-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(62, 6, 122);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;

}

#once-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(122, 6, 91);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;
}

#doce-etiqueta {
  top: 0;
  margin-top: 33px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  background-color: rgb(45, 177, 217);
  right: -70px;
  line-height: px;
  text-align: center;
  font-size: 10px;
  border-radius: 0 10px 10px 0;

}


#side-menu-switch {
  position: absolute;
  opacity: 0;
}
#side-menu-switch:checked + .side-menu {
  transform: translateX(100%);
}

#lineas-menu-etiqueta {
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #adf;

}





/*///////////////NOTAS/////////////*/

#notas {
  width: 100%;
  background-color: #ffffff;
  height: 75%;
  display: flex;
  align-items: start;
  justify-content: start;
}

#tabla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  height: 75%;
  margin-left: 10%;
  margin-top: 5%;
  box-shadow: rgba(210, 212, 213, 0.2) 0px 8px 24px;
  transition: 0.5s;
 

  overflow: auto;
}

#cabecera-tabla {
  width: 100%;
  height: 25%;
  background-color: #ffffff;
  
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#cabecera-tabla div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  margin: 0.2%;
  background-color: #3f3f3f;
  color: #ffffff;
}

#cabecera-tabla div:hover{
  background-color: #201e1e;

}

#cuerpo-tabla {
  
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;

}
#tabla::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}
#cuerpo-tabla::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

.fila-uno {
  margin-top: 0.1%;
  width: 100%;
  height: 33%;
  display: flex;
  flex-wrap: nowrap;

}

.fila-uno div {

  width: 33.34%;
  height: 100%;
  background-color: #e6e4e4;
  margin: 0.2%;
}

.fila-uno div:hover{
  background-color: #ac0a0a;
  opacity: 80%;
  
}

.fila-dos {
  width: 100%;
  height: 33%;
  
  display: flex;
  flex-wrap: nowrap;
}


.fila-dos div {
  width: 33.34%;
  height: 100%;
  background-color: #c4bfbf;
  margin: 0.2%;
}

.fila-dos div:hover{
  background-color: #ac0a0a;
  opacity: 80%;
  
}

.fila-tres {
  width: 100%;
  height: 33%;
 
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.5%;

}
.fila-tres div {
  width: 33.34%;
  height: 100%;
  background-color: #e6e4e4;
  margin: 0.2%;
}

.fila-tres div:hover{
  background-color: #ac0a0a;
  opacity: 80%;
  
}



#media-porcentaje {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18%;
  height: 84.6%;
  z-index: 0;
  background: rgba(85, 159, 193, 0.12);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(173, 171, 175, 0.3);
  z-index: 1;
  transition: 1s;
 
}

#media-porcentaje-fondo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18%;
  height: 84.6%;
  z-index: 0;
  background: rgba(56, 106, 130, 0.12);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(173, 171, 175, 0.3);
  z-index: 0;
  transition: 0.5s;
 
}


#boton-deslizar {
  position: absolute;
  background-color: #000;
  width: 8rem;
  height: 7rem;
  right: 0;
  z-index: 2;
  margin-right: 5rem;
  display: none;
}

#media {
  display: flex;
  display: row;
  flex-wrap: wrap;
  margin-top: 15%;
  width: 100%;
  height: 50%;

  justify-content: center;
  align-items: start;
}

#media div:first-child {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ac0a0a;
  width: 70%;
  height: 20%;
  border-radius: 5px;
}

#media div:first-child:hover {
  background-color: #ca0c0c;
}

#media div:last-child {
  width: 50%;

  opacity: 80%;
}

#media div:last-child:hover {
  width: 60%;
  opacity: 100%;
}

#porcentaje {
  margin-top: -8%;

  display: flex;
  display: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: start;
}

#porcentaje div:first-child {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #ac0a0a;
  width: 70%;
  height: 20%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#porcentaje div:first-child:hover {
  background-color: #ca0c0c;
}

#porcentaje div:last-child {
  opacity: 80%;
  width: 50%;
}

#porcentaje div:last-child:hover {
  width: 60%;
  opacity: 100%;
}

#footer {
  width: 100%;
  height: 10%;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

#menu-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-self: start;
  border-radius: 5px;
  margin-right: 13%;
  margin-left: 0%;
  width: 60%;
  height: 80%;
  background-color: #787171;
  border-radius: 10px;
  opacity: 80%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.5s;
  opacity: 50%;
  z-index: 0;
}

#menu-footer:hover {
  opacity: 80%;
}
#footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#footer nav ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
}

#footer nav ul li a {
  display: flex;
  justify-content: center;
}

#footer nav ul li a img {
  width: 28%;
  z-index: 1;
}

#footer nav ul li a img:hover {
  width: 33%;
}

/*CIRCULO*/

/*PRIMER CIRCULO*/

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progreso"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progreso"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    var(--primary) calc(var(--percentage) * 1%),
    var(--secondary) 0
  );
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progreso"]::after {
  counter-reset: percentage var(--value);
  content: "9.0";
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

#circulo {
  z-index: 2;
  display: block;
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: red;
  border-radius: 50% / 11%;
  transition: transform 0.5s;
}

#circulo:hover,
#circulo:focus {
  transform: scale(1.1);
}

#circulo::before {
  content: "";
  display: block;
  position: absolute;
  top: 7.5%;
  left: -6%;
  width: 112%;
  height: 85%;
  background: red;
  border-radius: 9% / 50%;
}

#circulo::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 40px;
  width: 45px;
  height: 30px;
  border: 15px solid transparent;
  box-sizing: border-box;
  border-left: 30px solid white;
}

#circulo span {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/*SEGUNDO CIRCULO*/

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 200px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    var(--primary) calc(var(--percentage) * 1%),
    var(--secondary) 0
  );
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/*/////////////////////////MEDIA QUERIES////////////////////*/

@media only screen and (max-width: 2000px) {
  #primera-etiqueta {
    display: flex;
  }


  #tabla {
    margin-left: 9%;
  }
  #menu-footer {
    margin-right: 16%;
  }
  #nombre {
    margin-right: 11%;
  }
}



@media only screen and (max-width: 1660px) {
  #primera-etiqueta {
    display: none;
  }
  #segunda-etiqueta {
    display: flex;
  }

  #tabla {
    margin-left: 9%;
  }
  #menu-footer {
    margin-right: 16%;
  }
  #nombre {
    margin-right: 11%;
  }
}

@media only screen and (max-width: 1300px) {
  #segunda-etiqueta {
    display: none;
  }
  #tercera-etiqueta {
    display: flex;
    margin-top: 1.3rem;
  }
}

@media only screen and (max-width: 1120px) {
  #tercera-etiqueta {
    display: none;
  }
  #cuarta-etiqueta {
    display: flex;
    margin-top: 1.3rem;
  }
}

@media only screen and (max-width: 1025px) {
  #cuarta-etiqueta {
    display: none;
  }
  #quinta-etiqueta {
    display: flex;
    margin-top: 1.5rem;
  }
  #nombre {
    margin-right: 9%;
  }
}

@media only screen and (max-width: 980px) {
  #quinta-etiqueta {
    display: none;
  }
  #sexta-etiqueta {
    display: flex;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 945px) {
  #sexta-etiqueta {
    display: none;
  }
  #septima-etiqueta {
    display: flex;
    margin-top: 1.5rem;
  }

  #nombre {
    font-size: 120%;
  }
}

@media only screen and (max-width: 920px) {
  #septima-etiqueta {
    display: none;
  }
  #octava-etiqueta {
    display: flex;
    margin-top: 1.5rem;
  }

  #nombre {
    margin-right: 20%;
    font-size: 80%;
  }

  #tabla {
    width: 55%;
    height: 65%;
    margin-left: 10%;
    margin-top: 10%;
  }


  #footer {
    justify-content: start;
  }

  #menu-footer {
    border-radius: 5px;
    margin-left: 15%;
    width: 45%;
    height: 50%;
  }

  #media-porcentaje {
    width: 25%;
    
    
    

  }

  #media-porcentaje-fondo {
    width: 25%;
  }
}

@media only screen and (max-width: 850px) {
  #octava-etiqueta {
    display: none;
  }
  #novena-etiqueta {
    display: flex;
    margin-top: 1.5rem;
  }

 
}

@media only screen and (max-width: 790px) {
  #novena-etiqueta {
    display: none;
  }
  #decima-etiqueta {
    display: flex;
    margin-top: 1.5rem;
    width: 55px;
    height: 55px;
    right: -65px;
  }

  #perfil{
    margin-right: 1.5rem;
    width: 20%;
    
  }

 
}

@media only screen and (max-width: 720px) {
  #decima-etiqueta {
    display: none;
  }
  #once-etiqueta {
    display: flex;
    margin-top: 1.5rem;
    width: 55px;
    height: 55px;
    right: -65px;
  }



 
}

@media only screen and (max-width: 700px) {
  #once-etiqueta {
    display: none;
  }
  #doce-etiqueta {
    display: flex;
    margin-top: 1.5rem;
    width: 55px;
    height: 55px;
    right: -65px;
  }

  #media-porcentaje {

    transition: 2s;
    width: 25%;
   
  }

  
  #media-porcentaje-fondo {

    transition: 0.5s;
    width: 25%;
   
  }

  #tabla{
    transition: 1s;
  }



 
}




