@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,regular,500,700,900);
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{
    height: 100%;
}



#container{
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*///////////////////////////////CABECERA//////////////////////////*/

#cabecera{
    width:100%;
    height: 15%;
    background-color: #ac0a0a;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
   
}

#nombre{
    display: flex;
    justify-content: center;
    width: 90%;
    color: white;
    margin-left: 23%;
    font-size: 160%;
   
}

#perfil{
    display: flex;
    width: 15%;
    height: 100%;
    margin-right: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  
 
}



#perfil img{
    width: 70%;
    height: 90%;
    opacity: 90%;
}








/*////////////////////////MENU//////////////////////////////*/
.side-menu{
    width: 330px;
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #817c7c;
    display: flex;
    flex-flow: column nowrap;
  
    
   
    position: absolute;
    transition: .5s;  
}

#menuflex{
    top:0;
   
    width: 100%;
    position: absolute;
    display: flex;
    height: 45%;
   
}
nav ul{
    display: flex;
    width: 100%;
   
    flex-direction: column;
}

nav ul li{
    display: flex;
    height: 100%;
    align-items: center;
 
   
 

}

nav a{
 display: flex;
 color: white;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 font-size: 20px;

 width: 100%;
 height: 100%;
}

nav ul li:hover {
    background-color:  #ac0a0a;;
    transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}



.side-menu label{
    top:0;
    margin-top: 33px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    color: #fff;
    right: -70px;
    line-height: px;
    text-align: center;
    font-size: 10px;
    border-radius: 0 10px 10px 0;
   
}
#side-menu-switch{
    position: absolute;
    opacity: 0;
}
#side-menu-switch:checked + .side-menu{
    transform: translateX(-100%);
}

.linea-menu{
    width: 100%;
    height: 10%;
    background-color: #fff;
    margin: 1px;
    border-radius: 4px;
}


/*///////////////NOTAS/////////////*/

#notas{
    width: 100%;
    background-color: #ffffff;
    height: 75%;
    display: flex;
    align-items: start;
    justify-content: start;
}

#tabla{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    margin-left: 27%;
    margin-top: 6%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
   
   
}

.fila{
    width:100%;
  
}

  


.primera{

    height: 25%;
    display:flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 3px;
}

.primera div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    background-color: #313030;
    margin: 1px;
    
    color:#fff;

}

.segunda{
    height: 25%;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.segunda div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    margin: 1px; 
    background-color: #e6e4e4;
}




.tercera{
    height: 25%;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.tercera div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    background-color: #c4bfbf;
    margin: 1px;

}




.cuarta{
    height: 25%;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.cuarta div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    background-color: #e6e4e4;
    margin: 1px;

}

 #caja{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap:  wrap;
    margin-left: 6%;
    margin-top: 6%;
    
    width: 10%;
    height: 70%;
   
 
 }

#media{
    display: flex;
    display: row;
    flex-wrap: wrap;
    margin-top: 9%;
    width: 100%;
    height: 50%;
    margin-bottom: 3px;
    justify-content: center;
    align-items: start;
    
    
}
 
#media div:first-child{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ac0a0a;
    width: 90%;
    height: 20%;
    border-radius: 5px;
}

#media div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 210, 208);
    width: 80%;
    height: 60%;
    border-radius: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}




#porcentaje{
    display: flex;
    display: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;

 
    justify-content: center;
    align-items: start;
    
   

}

#porcentaje div:first-child{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #ac0a0a;
    width: 90%;
    height: 20%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#porcentaje div:last-child{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(214, 210, 208);
    width: 80%;
    height: 60%;
    border-radius: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer{
    width: 100%;
    height: 10%;
    background-color: #ffffff;

    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

footer div{
    display: flex;
    justify-content: space-around;
   
    margin-left: 5%;
    width: 40%;
    height: 60%;
    background-color: #d3c9c9;
    border-radius: 10px;
    opacity: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}

 